<!-- <div class="navbar-podfast">
  <div class="col-xs-4 w-100 nav-home">
    <a href="#home" class="active">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><title>ic_home_48px</title>
        <g fill="#ffffff">
          <path d="M20 40V28h8v12h10V24h6L24 6 4 24h6v16z"></path>
        </g>
      </svg>
    </a>
  </div>
  <div class="col-xs-4 w-100 nav-search">
    <a href="#news">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><title>ic_search_48px</title>
        <g fill="#ffffff">
            <path d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"></path>
        </g>
      </svg>
    </a>
  </div>
  <div class="col-xs-4 w-100 nav-list">
    <a href="#contact">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="-12 -12 48 48"><title>ic_playlist_play_48px</title>
        <g fill="#ffffff">
          <path d="M26 6H-8v4h34V6zm0-8H-8v4h34v-4zM-8 18h26v-4H-8v4zm30-4v12l10-6-10-6z"></path>
        </g>
      </svg>
    </a>
  </div>
</div> -->
<!--
<div class="navbar-podfast">
  <div class="col-xs-4 w-100 nav-home">
    <a href="#root" class="active">
      <i class="fas fa-home"></i>
    </a>
  </div>
  <div class="col-xs-4 w-100 nav-search">
    <a href="#news">
      <i class="fas fa-search"></i>
    </a>
  </div>
  <div class="col-xs-4 w-100 nav-list">
    <a href="#contact">
      <i class="fas fa-list"></i>
    </a>
  </div>
</div> -->

<div class="navbar-podfast">
  <div class="col-xs-3 w-100 nav-home">
    <%= active_link_to root_path, active: :exact do %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>
  <div class="col-xs-3 w-100 nav-search">
    <%= active_link_to search_path, active: :exact do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
  <div class="col-xs-3 w-100 nav-list">
    <% if user_signed_in? %>
      <%= active_link_to playlists_path, active: :exact do %>
        <i class="far fa-list-alt"></i>
      <% end %>
    <% else %>
  </div>
    <%= simple_form_for :login, url: new_user_session_path, html: { class: 'like-form mr-2 d-flex', id:'playlist-homepage-form' } do |f| %>
      <%= f.button :button, type: :submit, class: "my-bookmark" do %>
        <i class="far fa-bookmark orange"></i>
      <% end %>
    <% end %>
  <div class="col-xs-3 w-100 nav-friends">
    <%= active_link_to users_path, active: :exact do %>
         <i class="fas fa-users"></i>
      <% end %>
    <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'sweetalert2' %>
<% end %>

