<% @podcasts.each do |podcast| %>
  <%= link_to episode_path(podcast["id"]), class: "episode-card" do %>
    <div class="image-card">
      <div class="image-absolute">
        <img src="<%= podcast["thumbnail"]%>" style="object-fit: cover;">
      </div>
    </div>
    <div class="card-info">
      <div class="card-info-bottom">
        <div class="card-tags">
          <% podcast["genre_ids"].take(3).each do |id|  %>
            <p class="default_tags"><%= @genres_hash[id].first(10) %></p>
            <!--  <p class="default_tags selected_tag"><%= @genres_hash[id] %>,</p> -->
          <% end %>
        </div>
      </div>
      <div class="card-details">
        <% if podcast["title_original"].length <= 55 %>
          <p><%= podcast["title_original"] %></p>
        <% else %>
          <p><%= podcast["title_original"].first(55) %>...</p>
        <% end %>
        <p class="p-summary"><%= podcast["description_original"].first(55) %>...</p>
      </div>
    </div>
  <% end %>
<% end %>




