<div class="container">
  <!-- links to re-order search results -->
  <div class="sort-options" >
    <ul>
      <li><a href="<%= request.fullpath + '&sort=relevant' %>">relevant</a></li>
      <li><a href="<%= request.fullpath + '&sort=listens' %>">listens</a></li>
      <li><a href="<%= request.fullpath + '&sort=upvotes' %>">upvotes</a></li>
    </ul>
  </div>

  <!-- logic for reordering search based on user selection -->
  <% if params[:sort] %>
  <% parameter = params[:sort] %>
    <% @episodes_ranked.sort_by! do |episode_hash| %>
      <% if parameter == "relevant" %>
        <% [-episode_hash[:default_tags], -episode_hash[:general_tags]] %>
      <% else %>
        <% -episode_hash[:episode][parameter.to_sym] %>
      <% end %>
    <% end %>
  <% end %>

  <!-- episodes list -->
  <% @episodes_ranked.each do |episode| %>
    <%= link_to episode_path(episode[:episode]) do %>
      <div class="row episode-card">
        <img src="<%= episode[:episode].img_url%>" style="object-fit: cover;">
        <div class="card-details">
          <h5><%= episode[:episode].title %></h5>
          <p><%= episode[:episode].summary.first(35) %>...</p>
          <div class="card-tags">
            <% episode[:episode].tags.each do |tag| %>
            <!-- This if statement should not make the default tags bold if none were selected -->
            <!-- If the tag is a default and if it was selected then... -->
              <% if tag.default %>
                <p><strong>#<%= tag.tag %></strong></p>
              <% else %>
                <p>#<%= tag.tag %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<%= render 'shared/navbar-podfast' %>
