<div id="background-overlay" class="hidden"></div>
<div class="container">

  <%= render "shared/listennotes_widget", episode: @episode %>

  <div class="episode-info">
    <div class="d-flex justify-content-between">
    <div class="episode-info-card">
      <%= render 'share_modal' %>
      <% if user_signed_in? %>
        <!-- <button type="button" class="create-new-playlist" data-toggle="modal" data-target=".bd-example-modal-sm">+</button> -->
        <div class="stat-icon"><%= render 'playlists/add_to_playlist' %></div>
      <% else %>
        <%= simple_form_for :login, url: new_user_session_path, html: { class: 'playlist-form stat-icons', id:'add-to-playlist-form' } do |f| %>
          <%= f.button :button, type: :submit, class:'primary-color' do %>
            <div class="stat-icon">
              <img id="add-to-playlist-icon" src="https://static.thenounproject.com/png/1047894-200.png" style="width:38px;" alt="">
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="description-card">
    <h1><b><%= @episode["title"] %></b></h1>
    <p><%= @episode["description"] %></p>
  </div>


<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'sweetalert2' %>
<% end %>

