<%= @episode.title %>
<%= render "shared/spotifywidget", episode: @episode %>
<%= link_to @episode.url, target: "_blank" do %>
  <p>Listen to me!</p>
<% end %>


<div class="vote_button">
  <%= link_to like_episode_path(@episode), class: "like", method: :put do %>
    <button type="button" class="btn btn-primary" aria-label="left-align">
      <span badge="" class="">Vote</span>
    </button>
  <% end %>
</div>

<%= @episode.votes_for.size %>
