<div id="background-overlay" class="hidden"></div>
<div class="container">

  <%= render "shared/spotifywidget", episode: @episode %>

  <div class="episode-info">
    <div class="episode-info-card">
      <%= render 'share_modal' %>
      <% if user_signed_in? %>
        <!-- <button type="button" class="create-new-playlist" data-toggle="modal" data-target=".bd-example-modal-sm">+</button> -->
        <div class="stat-icon"><%= render 'playlists/add_to_playlist' %></div>
      <% else %>
        <%= simple_form_for :login, url: new_user_session_path, html: { class: 'playlist-form stat-icons' } do |f| %>
          <%= f.button :button, type: :submit, class:'primary-color' do %>
            <div class="stat-icon">
              <i id="add-to-playlist-icon" class="fas fa-list-ul"></i>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if user_signed_in? %>
        <div class="episode-info-card">
          <div class="show-avatars">
            <%= link_to like_episode_path(@episode), class: "like stat-icons", method: :put do %>
              <% if current_user.voted_up_on?(@episode) %>
                <i class="episode-liked-by-user fas fa-thumbs-up"></i></i><%= @episode.votes_for.size + @episode.upvotes %>
                <% else %>
                <i class="far fa-thumbs-up"></i></i><%= @episode.votes_for.size + @episode.upvotes %>
              <% end %>
            <% end %>
            <span class="stat-icons"><i class="fas fa-headphones"></i><%= @episode.listens %></span>
            <%= render 'followable_likes', {episode: @episode} %>
          </div>
        </div>
    <% else %>
      <div class="episode-info-card">
        <div class="show-button">
          <%= simple_form_for :login, url: new_user_session_path, html: { class: 'like-form stat-icons', id:'like-form' } do |f| %>
            <%= f.button :button, type: :submit, class:'primary-color' do %>
              <i class="far fa-thumbs-up"></i><%= @episode.votes_for.size + @episode.upvotes %>
            <% end %>
          <% end %>
          <span class="stat-icons"><i class="fas fa-headphones"></i><%= @episode.listens %></span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="description-card">
    <h1><b><%= @episode.title %></b></h1>
    <p><%= @episode.summary %></p>
  </div>

  <div class="description-card">
    <div class="comment-title-and-icons">
      <h1><b>Comments</b></h1>
      <small><i id="show-comment-form" class="new-comment comment-icons fas fa-plus"></i></small>
    </div>
    <div id="comment-form" class="hidden">
      <%= render 'new_comment', {episode:@episode, comment: Comment.new()} %>
    </div>
    <% @episode.comments.each do |comment| %>
      <hr>
      <div class="comment-title-and-icons">
        <p><strong><%= comment.title.capitalize %></strong></p>
        <div>
          <% if comment.user == current_user  %>
            <%= link_to comment_path(comment), method: :delete, data: {confirm: "Are you sure?"} do %>
              <small><i class="comment-icons far fa-trash-alt"></i></small>
            <% end %>
            <%= link_to edit_comment_path(comment) do %>
              <small><i class="comment-icons fas fa-edit"></i></small>
            <% end %>
          <% end %>
        </div>
      </div>
      <p><%= comment.content.capitalize %></p>
    <% end %>
  </div>
</div>


<script>
  const showCommentForm = document.querySelector("#show-comment-form")
  const commentForm = document.querySelector("#comment-form")
  showCommentForm.addEventListener("click", () => {
      commentForm.classList.toggle("hidden")
    });
</script>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'sweetalert2' %>
<% end %>

