<div container>

  <%= render "shared/spotifywidget", episode: @episode %>
<br>
<br>
  <div class="description-card">
    <h2><b><%= @episode.title %></b></h2>
    <p><%= @episode.summary %></p>
  </div>


  <div class="vote_button">
    <%= link_to like_episode_path(@episode), class: "like", method: :put do %>
      <button type="button" class="btn btn-primary" aria-label="left-align">
        <span badge="" class="">Vote</span>
      </button>
    <% end %>
  </div>

<%= @episode.votes_for.size %>

</div>

