<label class="control-label check_boxes optional"><h2 id="categories-title">Top categories</h2></label>
<i id="show-more-default-tags" class="fas fa-sort-down toggle-down category-down" onclick="toggle()"></i>
<div class="tag-choices">
  <% @default_tags.each do |tag| %>
    <% if ['Sport', 'Comedy', 'Science', 'Politics', 'Lifestyle', 'History'].include? tag.tag %>
      <input type="checkbox" style="display:none" value="<%= tag.id %>" name="default_tags[tag_ids][]" id="default_tags_tag_ids_<%= tag.id %>">
      <label class="tag-choice" for="default_tags_tag_ids_<%= tag.id %>">
      <% case tag.tag %>
        <% when 'Sport'%>
          <i class="tag-icons fas fa-football-ball"></i>
          <p><%= tag.tag %></p>
        <% when 'Comedy'%>
          <i class="tag-icons fas fa-theater-masks"></i>
          <p><%= tag.tag %></p>
        <% when 'Science'%>
          <i class="tag-icons fas fa-atom"></i>
          <p><%= tag.tag %></p>
        <% when 'Politics'%>
          <i class="tag-icons fas fa-vote-yea"></i>
          <p><%= tag.tag %></p>
        <% when 'Lifestyle'%>
          <i class="tag-icons fas fa-heart"></i>
          <p><%= tag.tag %></p>
        <% when 'History'%>
          <i class="tag-icons fas fa-landmark"></i>
          <p><%= tag.tag %></p>
      <% end %>
      </label>
    <% else %>
      <input type="checkbox" style="display:none" value="<%= tag.id %>" name="default_tags[tag_ids][]" id="default_tags_tag_ids_<%= tag.id %>">
      <label id="hideable-default" class="hidden tag-choice" for="default_tags_tag_ids_<%= tag.id %>">
      <% case tag.tag %>
        <% when 'Crime'%>
          <i class="tag-icons fas fa-mask"></i>
          <p><%= tag.tag %></p>
        <% when 'Business'%>
          <i class="tag-icons fas fa-briefcase"></i>
          <p><%= tag.tag %></p>
        <% when 'Technology'%>
          <i class="tag-icons fas fa-laptop"></i>
          <p><%= tag.tag %></p>
        <% when 'News'%>
          <i class="tag-icons fas fa-newspaper"></i>
          <p><%= tag.tag %></p>
        <% when 'Education'%>
          <i class="tag-icons fas fa-graduation-cap"></i>
          <p><%= tag.tag %></p>
        <% when 'Music'%>
          <i class="tag-icons fas fa-music"></i>
          <p><%= tag.tag %></p>
        <% when 'Culture'%>
          <i class="tag-icons fas fa-music"></i>
          <p><%= tag.tag %></p>
          <% when 'Arts'%>
          <i class="tag-icons fas fa-palette"></i>
          <p><%= tag.tag %></p>
      <% end %>
      </label>

    <% end %>
  <% end %>
  <br>
</div>


<label class="control-label check_boxes optional"><h2 id="mood-title">Popular moods</h2></label>
 <i id="show-more-general-tags" class="fas fa-sort-down mood-down toggle-down" onclick="toggleMood()"></i>
 <div class="tag-choices ">
  <% @other_tags.each do |tag| %>
    <% if ['Fun', 'Factual', 'Upbeat', 'Quirky', 'Moving', 'Inspiring'].include? tag.tag %>
      <input type="checkbox" style="display:none" value="<%= tag.id %>" name="general_tags[tag_ids][]" id="general_tags_tag_ids_<%= tag.id %>">
      <label class="tag-choice three-col" for="general_tags_tag_ids_<%= tag.id %>">
        <p><%= tag.tag %></p>
      </label>
    <% else %>
      <input type="checkbox" style="display:none" value="<%= tag.id %>" name="general_tags[tag_ids][]" id="general_tags_tag_ids_<%= tag.id %>">
      <label id="hideable-general" class="hidden tag-choice three-col" for="general_tags_tag_ids_<%= tag.id %>">
        <p><%= tag.tag %></p>
      </label>
    <% end %>
  <% end %>
 </div>

<script>
  const categoriesTitle = document.querySelector("#categories-title")
  const showMoreDefault = document.querySelector("#show-more-default-tags")
  const hiddenDefaultBoxes = document.querySelectorAll("#hideable-default")
  showMoreDefault.addEventListener("click", () => {
     if (categoriesTitle.innerText === "Top categories") {
      categoriesTitle.innerText = 'All categories'
     } else {
      categoriesTitle.innerText = 'Top categories'
     }
    hiddenDefaultBoxes.forEach((e) => {
      e.classList.toggle("hidden")
    });
  });
</script>

<script>
  const moodTitle = document.querySelector("#mood-title")
  const showMoreGeneral = document.querySelector("#show-more-general-tags")
  const hiddenGeneralBoxes = document.querySelectorAll("#hideable-general")
   showMoreGeneral.addEventListener("click", () => {
      if (moodTitle.innerText === "Popular moods") {
      moodTitle.innerText = 'All moods'
     } else {
      moodTitle.innerText = 'Popular moods'
     }
      hiddenGeneralBoxes.forEach((e) => {
        e.classList.toggle("hidden")
      });
    });
</script>


<script>
  var upClass = 'toggle-up';
  var downClass = 'toggle-down';

  function toggle() {
    var carrot = document.querySelector('.category-down');

    if (~carrot.className.indexOf(downClass)) {
      carrot.className = carrot.className.replace(downClass, upClass);
    } else {
          carrot.className = carrot.className.replace(upClass, downClass);
    }

  }
</script>

<script>
  var upClass = 'toggle-up';
  var downClass = 'toggle-down';

  function toggleMood() {
    var carrot1 = document.querySelector('.mood-down');

    if (~carrot1.className.indexOf(downClass)) {
      carrot1.className = carrot1.className.replace(downClass, upClass);
    } else {
          carrot1.className = carrot1.className.replace(upClass, downClass);
    }

  }
</script>

<!-- <script>
var listClass = 'toggle-list';
var crossClass = 'toggle-cross';

function toggleMood() {
  var icon = document.querySelector('.dropdown-replace');

  if (~icon.className.indexOf(crossClass)) {
    icon.className = icon.className.replace(crossClass, listClass);
  } else {
        icon.className = icon.className.replace(listClass, crossClass);
  }

}
</script> -->
