
<label class="control-label check_boxes optional"><h4 id="categories-title" class="tag-title">Top categories</h4></label>
<i id="show-more-default-tags" class="float-right fas fa-ellipsis-h"></i>
<div class="tag-choices">
  <% @default_tags.each do |tag| %>
    <% if ['Sport', 'Comedy', 'Science', 'Politics', 'Lifestyle', 'History'].include? tag.tag %>
      <input type="checkbox" style="display:none" value="<%= tag.id %>" name="default_tags[tag_ids][]" id="default_tags_tag_ids_<%= tag.id %>">
      <label class="tag-choice" for="default_tags_tag_ids_<%= tag.id %>">
        <%= tag.tag %>
      </label>
    <% else %>
      <input type="checkbox" style="display:none" value="<%= tag.id %>" name="default_tags[tag_ids][]" id="default_tags_tag_ids_<%= tag.id %>">
      <label id="hideable-default" class="hidden tag-choice" for="default_tags_tag_ids_<%= tag.id %>">
        <%= tag.tag %>
      </label>
    <% end %>
  <% end %>
</div>

<label class="control-label check_boxes optional"><h4 id="mood-title" class="tag-title">Popular moods</h4></label>
 <i id="show-more-general-tags" class="float-right fas fa-ellipsis-h"></i>
 <div class="tag-choices">
  <% @other_tags.each do |tag| %>
    <% if ['Entertaining', 'Factual', 'Lighthearted', 'Quirky', 'Heartwarming', 'Inspiring'].include? tag.tag %>
      <input type="checkbox" style="display:none" value="<%= tag.id %>" name="general_tags[tag_ids][]" id="general_tags_tag_ids_<%= tag.id %>">
      <label class="tag-choice" for="general_tags_tag_ids_<%= tag.id %>">
        <%= tag.tag %>
      </label>
    <% else %>
      <input type="checkbox" style="display:none" value="<%= tag.id %>" name="general_tags[tag_ids][]" id="general_tags_tag_ids_<%= tag.id %>">
      <label id="hideable-general" class="hidden tag-choice" for="general_tags_tag_ids_<%= tag.id %>">
        <%= tag.tag %>
      </label>
    <% end %>
  <% end %>
 </div>

<script>
  const categoriesTitle = document.querySelector("#categories-title")
  const showMoreDefault = document.querySelector("#show-more-default-tags")
  const hiddenDefaultBoxes = document.querySelectorAll("#hideable-default")
  showMoreDefault.addEventListener("click", () => {
     if (categoriesTitle.innerText === "Top categories") {
      categoriesTitle.innerText = 'All categories'
     } else {
      categoriesTitle.innerText = 'Top categories'
     }
    hiddenDefaultBoxes.forEach((e) => {
      e.classList.toggle("hidden")
    });
  });
</script>

<script>
  const moodTitle = document.querySelector("#mood-title")
  const showMoreGeneral = document.querySelector("#show-more-general-tags")
  const hiddenGeneralBoxes = document.querySelectorAll("#hideable-general")
   showMoreGeneral.addEventListener("click", () => {
      if (moodTitle.innerText === "Popular moods") {
      moodTitle.innerText = 'All moods'
     } else {
      moodTitle.innerText = 'Popular moods'
     }
      hiddenGeneralBoxes.forEach((e) => {
        e.classList.toggle("hidden")
      });
    });
</script>
