<!-- Commented out until we work out how to implement Spotify / Podcasts API -->
<!-- <h1><%= @artists %></h1> -->

<%= simple_form_for :search, method: :get, url: episodes_path do |f| %>
  <%= f.input :query %>
  <%= f.button :submit %>
<% end %>


<%= render 'carousel' %>
