<div class="container">

  <!-- <form action="/episodes", method="get">
    <div class="search_bar">
      <i class="icon fa fa-search fa-2x search-icon"></i>
      <input class="search-bar-bar" name="keyword" type="text" placeholder="Keyword">
    </div>
  </form> -->

  <div class="carousel-container">
    <h1 class="flanked-title"><span>Most popular</span></h1>
    <%= render 'carousel' %>
    <%= render 'episode_card_grid' %>
    <%= render 'random_episode_generator' %>
    <%= render 'friends_picks' %>


</div>
<!-- Commented out until we work out how to implement Spotify / Podcasts API -->
<!-- <h1><%= @artists %></h1> -->
