<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <!-- This is the Login form -->
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true, placeholder: "podfast@gmail.com" %>
          <%= f.input :password, required: false, placeholder: "••••••" %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-light button-podfast" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>

    </div>
  </div>
</div>
