tapPane = document.querySelector(".tab-pane");
card = document.querySelector("[data-id='<%= @user.id %>']");
document.getElementById('<%= @user.id %>').classList.remove('fa-plus');
document.getElementById('<%= @user.id %>').classList.add('fa-minus');
card.querySelector('a').outerHTML = `<a data-remote="true" rel="nofollow" data-method="delete" href="/users/<%= @user.id %>/follows/<%= @follow.id %>">
      <small><i id="<%= @user.id %>" class="un-follow follow-icon fas fa-minus"></i></small>
</a>`;

tapPane.insertAdjacentHTML("beforeend", card.outerHTML);
card.remove();
