<i id="add-to-playlist-icon" class="fas fa-list-ul"></i>
<div id="playlist-modal" class="modal-playlist modal-close">
  <div class="modal-content playlist-modal">
    <div class="div-create-new-playlist">
      <div class="close-div">
        <p class="green-header">Create new podlist</p>
        <i class="fas fa-times close"></i>
      </div>
      <%= render 'playlists/new', class: "create-new-playlist" %>
    </div>
      <p class="green-header">Add to existing podlist</p>
      <% @playlists.each do |playlist| %>
      <div class="modal-playlist-name">
        <%= simple_form_for playlist, url: playlist_path, method: :patch do |f| %>
          <%= f.input :episode, :as => :hidden, :input_html => { :value => @episode.id } %>
          <%= f.input :name, :as => :hidden, :input_html => { :value => playlist.name } %>
          <%= f.button :submit, "#{playlist.name}", class: "button-podfast-custom" %>
        <% end %>
        <p class="playlist-episode-count"> <%= playlist.episodes.count %> episodes</p>
      </div>
      <% end %>
  </div>
</div>

<script>
  const modalPlaylist = document.getElementById("playlist-modal");

// Get the button that opens the modal
  const playlistAddIcon = document.getElementById("add-to-playlist-icon");

// Get the <span> element that closes the modal
  const span = document.getElementsByClassName("close")[0];


// When the user clicks on the button, open the modal
  playlistAddIcon.onclick = function() {
    document.getElementById("background-overlay").style.display = 'block';
    modalPlaylist.style.opacity = 1;
    modalPlaylist.style.transform = "translateY(0)";
    modalPlaylist.style.visibility = "visible";
  }

// When the user clicks on <span> (x), close the modalPlaylist
  span.onclick = function() {
    modalPlaylist.style.opacity = 0;
    modalPlaylist.style.transform = "translateY(390px)";
    modalPlaylist.style.visibility = "hidden";
    document.getElementById("background-overlay").style.display = 'none';
  }

// When the user clicks anywhere outside of the modalPlaylist, close it
  // window.onclick = function(event) {
  //   if (event.target == modalPlaylist) {
  //     modalPlaylist.style.display = "none";
  //   }
  // }
</script>

