
<div class="container">


    <h1 class="pl-1 my-3">Podlists</h1>
   <!--  <button type="button" class="create-new-playlist" data-toggle="modal" data-target=".bd-example-modal-sm">+</button> -->


  <%= render 'create_new_playlist_modal' %>


  <div class="link_to_decoration"></div>
  <% @playlists.each do |playlist|%>
    <%= link_to playlist_path(playlist), class:"playlist-link-styles" do  %>
        <div class="playlist-list-card">
            <% episodes = playlist.episodes.sample(3) %>
            <div class="playlist-images">
              <img class="playlist-img" src="<%= episodes[0].img_url %>" style="height:100px; width:100px;" lt="">
              <div>
                <img class="playlist-img" src="<%= episodes[1].img_url %>" style="height:50px; width:50px;" lt="">
                <img class="playlist-img" src="<%= episodes[2].img_url %>" style="height:50px; width:50px;" lt="">
              </div>
            </div>
            <div class="playlist-details">
              <div>
                <p class="playlist-title"><%= playlist.name.capitalize %></p>
                <p class="playlist-username">By <%= playlist.user.username %></p>
              </div>
              <div class="d-block">
                <p class="playlist-info"><%= playlist.episodes.count %> episodes</p>
                <p class="playlist-info"><%= playlist.followers_count %> following</p>
              </div>
            </div>

        </div>
    <% end %>
  <% end %>
  <div>
</div>
