<div class="container">
  <h1 class="pl-1 my-3">Podcasts (<%= @playlist.episodes.count %>)</h1>

  <% @playlist.episodes.each_with_index do |episode, i|  %>
    <%= link_to episode_path(episode), class: "playlist-episode-card" do   %>
      <img class ="playlist-episode-img" src="<%= episode.img_url %>" alt="">
      <div class="playlist-episode-info">
        <p class ="playlist-episode-title"><%= episode.title.first(30)  %></p>
        <p class ="playlist-episode-summary"><%= episode.summary.first(45)%></p>
      </div>
    <% end %>
  <% end %>
</div>
